<section class="panel is-light">
  <div class="panel-header">
    <p>Artikel Berseri</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">
    <p><strong>Inkscape Untuk Kegiatan Sehari-hari</strong>.</p>
    <p>Berikut ini adalah kumpulan artikel,
    dengan kualitas mutu <i>mediocre</i> yang biasa-biasa.
    Namun bisa jadi bermanfaat bagi kegiatan sehari-hari.</p>
    <ul class="panel-list">
      <li><a href="<%= url_for("/2015/09/06/desain/inkscape-vexel-jiplak-wajah/") %>"
            >Inkscape - Jiplak Wajah Jadi Vexel</a></li>
      <li><a href="<%= url_for("/2016/10/03/desain/inkscape-gambar-latar-isometrik-datar/") %>"
            >Inkscape - Gambar Latar Isometrik Datar</a></li>
      <li><a href="<%= url_for("/2018/11/18/desain/inkscape-gambar-latar-desain-material/") %>"
            >Inkscape - Gambar Latar Desain Material Design</a></li>
      <li><a href="<%= url_for("/2020/08/16/desain/inkscape-poster-17an/") %>"
            >Inkscape - Kartu Ucapan HUT RI</a></li>
    </ul>
    <p>Masih ada beberapa ariktel lagi yang belum dimasukkan. Harap sabar!</p>
  </div>
</section>
