<section class="panel is-light">
  <div class="panel-header">
    <p>Artikel Silsilah Keluarga</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      <li><a href="<%= url_for("/2017/01/23/silsilah/silsilah-gitodipuro-rewrite/") %>"
            >Silsilah - Gitodipuro Rewrite</a></li>
      <li><a href="<%= url_for("/2017/02/17/silsilah/silsilah-catatan-keluarga/") %>"
            >Silsilah - Catatan Keluarga</a></li>
      <li><a href="<%= url_for("/2017/10/22/silsilah/silsilah-sayidina/") %>"
            >Silsilah - Sayidina</a></li>
      <li><a href="<%= url_for("/2017/12/10/silsilah/silsilah-kalioso-nitimenggolo/") %>"
            >Silsilah - Kalioso - Nitimenggolo</a></li>
    </ul>
  </div>
</section>
