<section class="panel is-light">
  <div class="panel-header">
    <p>Artikel Matematika</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      <li><a href="<%= url_for("/2020/01/10/matematika/latex-rumus/") %>"
            >LaTeX - Rumus Matematika</a></li>
      <li><a href="<%= url_for("/2020/01/12/matematika/python-matplotlib/") %>"
            >Python - Matplotlib</a></li>
      <li><a href="<%= url_for("/2020/02/02/matematika/statistik-dotplot/") %>"
            >Statistik - Dotplot</a></li>
    </ul>
  </div>
</section>
